[mysqld]
datadir=/home/cbell/gr_linux/data/secondary1
basedir=/home/cbell/source/git/mysql-bug-staging/build/
plugin_dir=/home/cbell/source/git/mysql-bug-staging/build/plugin_output_directory/
port=24802
socket=/home/cbell/gr_linux/secondary1.sock

server_id=2
gtid_mode=ON
enforce_gtid_consistency=ON
binlog_checksum=NONE

loose-group_replication_recovery_get_public_key=ON
loose-group_replication_recovery_use_ssl=ON
loose-group_replication_group_name="bbbbbbbb-bbbb-cccc-dddd-eeeeeeeeeeee"
loose-group_replication_start_on_boot=OFF
loose-group_replication_local_address="127.0.0.1:24902"
loose-group_replication_group_seeds="127.0.0.1:24901,127.0.0.1:24902,127.0.0.1:24903,127.0.0.1:24904"
loose-group_replication_bootstrap_group=OFF


