[mysqld]
datadir="/Volumes/Macintosh_Data/cbell/source/rpl_macos/data/master"
basedir="/usr/local/mysql-8.0.3-rc-macos10.12-x86_64/"
port=13001
socket="/Volumes/Macintosh_Data/cbell/source/rpl_macos/master.sock"

server_id=1
master_info_repository=TABLE
relay_log_info_repository=TABLE
binlog_checksum=NONE
log_bin=master_binlog
binlog_format=row
log-error-verbosity=3

# GTID VARIABLES
#gtid_mode=on
#enforce_gtid_consistency=on
#log_slave_updates=on
