[mysqld]
datadir=C:/Users/olias/Documents/source/rpl_win10/data/slave1
basedir="C:/Program Files/MySQL/MySQL Server 8.0"
port=13002
socket=C:/Users/olias/Documents/source/rpl_win10/slave1.sock

server_id=2
master_info_repository=TABLE
relay_log_info_repository=TABLE
binlog_checksum=NONE
log_bin=slave1_binlog
binlog_format=row
log-error-verbosity=3
report-port=13002
report-host=localhost

# GTID VARIABLES
#gtid_mode=on
#enforce_gtid_consistency=on
#log_slave_updates=on
