[mysqld]
datadir=C:/Users/olias/Documents/source/rpl_win10/data/slave2
basedir="C:/Program Files/MySQL/MySQL Server 8.0"
port=13003
socket=C:/Users/olias/Documents/source/rpl_win10/slave2.sock

server_id=3
master_info_repository=TABLE
relay_log_info_repository=TABLE
binlog_checksum=NONE
log_bin=slave2_binlog
binlog_format=row
log-error-verbosity=3
report-port=13003
report-host=localhost

# GTID VARIABLES
#gtid_mode=on
#enforce_gtid_consistency=on
#log_slave_updates=on
