[mysqld]
datadir="/Volumes/Macintosh_Data/cbell/source/gr_macos/data/secondary2"
basedir="/usr/local/mysql-8.0.3-rc-macos10.12-x86_64/"
plugin_dir=/usr/local/mysql/lib/plugin/
socket="/Volumes/Macintosh_Data/cbell/source/gr_macos/secondary2.sock"
port=24803

server_id=3
gtid_mode=ON
enforce_gtid_consistency=ON
binlog_checksum=NONE

loose-group_replication_recovery_get_public_key=ON
loose-group_replication_group_name="bbbbbbbb-bbbb-cccc-dddd-eeeeeeeeeeee"
loose-group_replication_start_on_boot=OFF
loose-group_replication_local_address="127.0.0.1:24903"
loose-group_replication_group_seeds="127.0.0.1:24901,127.0.0.1:24902,127.0.0.1:24903,127.0.0.1:24904"
loose-group_replication_bootstrap_group=OFF
